body{
     background-color: rgb(255, 255, 255);
}

#menu-cor{
    background-color: rgb(5, 55, 113);
    border-bottom-color: rgb(19, 0, 90);
    border-bottom-style: solid;
    border-bottom-width: 10px;
    
}

#menu-cor a{
    color:rgb(255, 255, 255);
}

.conteudo{
    margin:5px;
    /*display:flex;*/
}

.card_personalizado{
    margin:10px; 
     background-color: rgb(239, 239, 239);
}

.copy{
    display: block;
    text-align: center;
}

.rodape{
    background-color: black;
    color: white;
    padding:10%;
    padding-bottom: 100%;
}

.titulo_pagina{
    text-align: center;
    margin: 50px;
    font-family: sans-serif;
}