.perfil .dados{
    background: var(--main-color-four);
    padding: 20px;
}

.perfil .dados .foto{
    text-align: center;
    margin: 30px;
}

.perfil .dados img{
    border-radius: 5px;
}

.perfil .dados img:hover{
    filter: blur(2px);
}
.perfil .dados .nome{
    color: #000;
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;   
}

.perfil .dados .recado{
    background-color: var(--main-color-two);
    color: #fff;
    text-align: center;
    margin: 50px 0px;
}

/* ========================= pop up ========================= */

#popup{
    background: var(--main-color-two);
    color: #fff;
    padding: 20px 30px;
    border-radius: 0px;
    position: absolute;
    right: 50px;
    box-shadow: 2px 3px 4px #000;
    display: none;
}